body{
    font-family: 'Aleo', serif;
    font-size: 112.5%;
    line-height: 1.5;
    /* background: linear-gradient(#0ff 0.0555555em, transparent 0.0555555em);
    background-size: auto 1.5em; */
  }